DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_DATABASE=control_gastos

JWT_SECRET=MiClaveSuperSeguraParaControlGastos2026
JWT_EXPIRES_IN=1200s
JWT_EXPIRES_IN_SECONDS=1200

GOOGLE_CLIENT_ID=

PORT=3000
NODE_ENV=development